$break_point_small: 480px;
$break_point_medium: 960px;

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: $break_point_small) {
    width: 100%;
  }
}

.content-a {
  background-color: #b4b472;
  @media screen and (max-width: $break_point_small) {
    width: 100%;
    height: 150%;
  }
}

.content-b {
  background-color: crimson;
  @media screen and (max-width: $break_point_small) {
    width: 100%;
    height:150px;
  }
}

.content-c {
  background-color: mediumseagreen;
  @media screen and (max-width: $break_point_small) {
    width: 100%;
    height:150px;

  }
}

.content-d {
  background-color: darksalmon;
  @media screen and (max-width: $break_point_small) {
    width: 100%;
    height:150px;

  }
}

.content-e {
  background-color: slateblue;
  @media screen and (max-width: $break_point_small) {
    width: 100%;
    height:150px;

  }
}