$break_point_small: 480px;

* {
  margin: 0;
  padding: 0;
}

html, body {
  @media screen and(max-width: $break_point_small) {
    height: 100%;
  }
}

div {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  @media screen and(max-width: $break_point_small) {
    height: 100%;
    position: relative;
  }
}

.nav {
  background-color: slateblue;
  @media screen and (max-width: $break_point_small) {
    position: fixed;
    width: 250px;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
  }
  @media screen and (min-width: $break_point_small+1) {
    width: 100%;
    height: 80px;
  }
}

.main {
  background-color: darkmagenta;
  @media screen and (max-width: $break_point_small) {
    width: 100%;
    height: 400px;
  }
  @media screen and (min-width: $break_point_small+1) {
    width: 100%;
    height: 400px;
  }
}

.wing {
  background-color: crimson;
  @media screen and (max-width: $break_point_small) {
    width: 100%;
    height: 400px;
  }
  @media screen and (min-width: $break_point_small+1) {
    width: 100%;
    height: 400px;
  }
}

